@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h3 {
    @apply text-4xl font-bold mb-8 text-darkGrayishBlue md:text-5xl;
  }
}

.section-container {
  @apply max-w-6xl mx-auto text-center px-10;
}

.button-container {
  @apply flex flex-col justify-center text-xl text-white w-full space-y-6 md:flex-row md:space-y-0 md:space-x-4;
}

.description {
  @apply max-w-3xl mx-auto;
}

.btn {
  @apply py-4 px-8 rounded-full duration-200 shadow-lg  hover:opacity-80;
}
body {
  background-image: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 576px) {
  body {
    background-image: url("../images/bg-header-mobile.png");
  }
}
